<?xml version="1.0"?>
<config allowunpaid="true"
        checkintimeout="100000"
        debug="1"
        log="./out.txt"
        nif="false"
        restrictIP="false"
        statusTimeout="40000"
        targetlocation="/home/engarde/live/web"
        title="DB Admin Portal"
        tournamentname="EYC 2016">
  <competition id="1"
               background="blue"
               enabled="true"
               nif="0"
               source="/home/engarde/public/data/current/mf2006"
               state="active"
               titre_ligne="Men's Foil" />
  <competition id="2"
               background="chartreuse"
               enabled="true"
               nif="0"
               source="/home/engarde/public/data/current/EYC2016/Epee/EYC Girls U11 Epee"
               state="active"
               titre_ligne="Girls Under 11 Epee - EYC" />
  <series id="1">
  </series>
  <series id="10">
  </series>
  <series id="11">
    <competition>1</competition>
  </series>
  <series id="12">
    <competition>2</competition>
  </series>
  <series id="13">
  </series>
  <series id="14">
    <competition>1</competition>
    <competition>2</competition>
  </series>
  <series id="2">
    <competition>1</competition>
  </series>
  <series id="3">
    <competition>1</competition>
  </series>
  <series id="4">
    <competition>2</competition>
  </series>
  <series id="5">
    <competition>1</competition>
  </series>
  <series id="6">
  </series>
  <series id="7">
    <competition>1</competition>
    <competition>2</competition>
  </series>
  <series id="8">
    <competition>1</competition>
  </series>
  <series id="9">
    <competition>2</competition>
  </series>
</config>
