div.vert_list_container
{
overflow: hidden;
position: absolute;
border: thin solid black;
height:  30em;
right: 0px;
width: 100%;
}

div.hori_list_container
{
overflow: hidden;
position: absolute;
top:  30.25em;
width: 100%;
right: 0px;
height: 7.5em;
}