
div.tableau { 
	overflow: hidden; 
	position: absolute; 
	border-right: thin solid black; 
	height:  90%; 
	width: 	66%; 
	top: 8%; 
	left: 20px; 
}


div.vert_list
{
	overflow: hidden;
	position: absolute;
	border: none;
	height:  95%;
	right: 15px;
	width: 30%;
}
