/*
# @media screen and (max-device-height: 752px) or (max-device-width: 752px) {
#	tr {
#		height: 70px;
#  }
#
#  td {
#		padding: 10px;
#  }
#}
*/


/* Table 1 Style */
table.table1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    /* line-height: 1.4em; */
    font-style: normal;
    border-collapse:separate;
}

.table1 thead th {
    /* padding: 10px; */
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    background-color: #9DD929;
    background: -webkit-gradient (
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
		
    background: -moz-linear-gradient (
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
		
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table1 thead th:empty {
    background: transparent;
    border: none;
}

.table1 tbody th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    /* border-right:3px solid #9ED929; */
    padding: 0px 5px;
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	border-radius: 5px;
	width: 80px;
}

/* not used */
.table1 tfoot td {
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}

/* not used */
.table1 tfoot th {
    color:#666;
}

.table1 tbody td {
    /* padding:10px; */
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

  
div.spinner {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
}
    
div.spinner div {
    width: 12%;
    height: 26%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
    
div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

 
div.container {
    display: inline-block;
    padding: 1.5em 1.5em 1.25em;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 1em;
    margin: 1em;
}
    
div.container.grey {background: rgba(0,0,0,0.2);}    
div.container.grey.blue {background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0a2744), color-stop(1, #064483));}
    
div.container div.spinner {
    width: 28px;
    height: 28px;
}
   
div.container.grey div.spinner {
    width: 60px;
    height: 60px;
}
   
div.container div.spinner div {background: #fff;}
    
div.labeled {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0 auto;
    background: #fff;
    padding: 0.5em 0.75em 0.5em 0.5em;
    display: inline-block;
    color: #c00;
    line-height: 25px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    -webkit-border-radius: 1em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
}
    
div.labeled div.spinner {
    float: left;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
}
    
div.labeled div.spinner div {background: #c00;}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}


/* not used */
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {

	width: 200px;
	position: relative;
	margin: 200px 250px;
	padding: 13px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}