
div.hidden { 
	visibility: hidden; 
}


.navigation 
{
   display:none;
}

div.centreinfo 
{
   text-align:center;
   margin-top: 30ex;
}

div.tableau { 
	overflow: hidden; 
	position: absolute; 
	border-right: thin solid black; 
	height:  95%; 
	width: 	46%; 
	margin: 20px 20px 20px 20px;
}
.tableautitle
{
	position:absolute;
	right: 0px;
	top: -1ex;
}
.tableautitlepart
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.5em;
	font-weight: bold;
}

div.poule { 
	overflow: hidden; 
	position: absolute; 
	border-right: thin solid black; 
	height:  95%; 
	width: 	45%;
	margin: 20px 20px 20px 20px;
}

div.poule h1 {
	margin-bottom: 0;
	margin-top: 10px;
}

div.poulediv, div.tableaudiv { 
	position: absolute; 
	top: 4%; 
	height: 96%;
	width:90%;
} 

div.vlist2
{
	overflow: hidden;
	position: absolute;
	border-right: thin solid black;
	height:  95%;
	right: 26%; 
	width: 24%;
	margin: 20px 20px 20px 20px;
}

div.vlist
{
	overflow: hidden;
	position: absolute;
	border: none; 
	height:  95%;
	right: 10px; 
	margin: 20px 20px 20px 20px;
	width: 24%;
}

div.vlist_entry
{
	overflow: hidden;
	position: absolute;
	border: none;
	height:  94%;
	right: 25px;
	left: 25px;
	top: 30px;
}

div.vlist_ranking
{
	overflow: hidden;
	position: absolute;
	border: none;
	height:  95%;
	right:	10px;
	margin: 20px 20px 20px 20px;
	width: 24%;
}

div.vlist_ranking2
{
	overflow: hidden;
	position: absolute;
	border: none;
	height:  95%;
	right:	10px;
	margin: 20px 20px 20px 20px;
	width: 49%;
}

div.pvlist
{
	overflow: hidden;
	position: absolute;
	border: none;
	height:  95%;
	right: 25px;
	width: 34%;
}

div.innervlist
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

body { 
	font-family: "Sans"; 
	color: #000000; 
	font-size: 1.0em; 
	padding: 0px; 
	margin: 0px; 
}

div.half, div.quarter  { 
	height: 50%; width:100%; 
}

#container { 
	width: 100%; 
	height: 100%; 
	display: table; 
}

#position { 
	display: table-cell; 
	vertical-align: middle; 
}

div.col1 { 
	width: 40%; 
	float: left; 
}

div.col { 
	width: 29%; 
	float: left; 
}

div.twocol { 
	width: 45%; 
	float: left; 
	height: 100%;
}

div.twocol1 { 
	width: 50% ; 
	float: left;
	height: 100%; 
}

div.A, div.B { 
	margin-left: 5%; 
	height:25%; 
	width: 95%; 
	background-color: #dcdcdc; 
	position: relative; 
	font-size: 1.5em;
	overflow: hidden;
	white-space: nowrap;
}

div.final { 
	height: 12.5%; 
	font-size: 1.5em;
	padding-left: 0.5em;
	overflow: hidden;
}

.winner { 
	font-weight: bold; 
}

div.boutinfo { 
	font-size: 1.5em;
	height:50%; 
	text-align: right; 
	padding-right: 5%; 
}

div.bout { 
	width: 95%; 
	height: 66%; 
	border-right: 6px solid lightblue; 
}

span.seed { 
	/* width: 2em;   */
	/* border-right: 1px solid black; */
	/* position: absolute; */
	left: 35px; 
}

span.fencer { 
	padding-left: .5em; 
}

span.country { 
	text-align: right; 
	position: absolute; 
	right:10px; 
}

span.noseed { 
	padding-left: .5em; 
}

div.title { 
	height: 7%; 
	text-align: center; 
	width: 62%; 
	position: absolute;
	top: 15px;
	left: 20px;
	border-right: thin solid black;
}

div.twotitle { 
	height: 7%; 
	text-align: center; 
	width: 47%; 
	position: absolute;
	top: 15px;
	left: 20px;
	border-right: thin solid black;
}

div.mid_title {
	height: 7%; 
	text-align: center; 
	position: absolute;
	width: 24%; 
	right: 27%;
	top: 15px;
	border-right: thin solid black;
}

span.timestamp {  
   position: fixed; 
   bottom: 0px;
   right: 20px; 
   color: #ffffff;
   margin-top:2px;
   margin-bottom:2px;
   height: 15px; 
}

#top, #bottom, #left, #right {	
	position: fixed; 
}

#left, #right { 
	top: 0px; bottom: 0px; width: 15px; 
}

#left { 
	left: 0px; 
}

#right { 
	right: 0px; 
}

#top, #bottom { 
	left: 0px; right: 0px; height: 15px; 
}

#top { 
	top: 0px; 
}

#bottom { 
	bottom: 0px; 
}

.col_multi2 {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	height: 85%; 
	width: 95%;
	position: absolute; 
	/* border: thin solid black; */
	top: 15%;
	right: 30px;
}

.col_multi {
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-count: 4;
	-webkit-column-gap: 1em;
	height: 90%; 
	width: 95%;
	position: absolute; 
	/* border: thin solid black; */
	top: 10%;
	left: 30px;
}

.col_single {
	height: 85%;
	width: 90%;
	position: absolute;
	/* border: thin solid black; */
	top: 15%;
	left: 3%;
}


span.col_rank {
	width: 10%;
	height: 100%;
}

span.col_name { 
	vertical-align: top;
	height: 100%;
	padding-left: 1ex;
	font-size: 0.8em;
}


span.col_club { 
	text-align: right; 
	float: right;
	border-right: thin solid black;
	padding-right: 1em;
	font-size: 0.6em;
	vertical-align: top;
	height: 100%;
}


span.col_fppname { 
   vertical-align: top;
   height: 100%;
   width: 50%;
   overflow: hidden;
   position: relative;
   font-size: 0.8em;
}
span.col_fppclub { 
   text-align: right; 
   font-size: 0.5em;
   vertical-align: top;
   height: 100%;
   right: 6em;
   bottom: 0;
   /* position: absolute; */
   overflow: hidden;
   width: 100%;
}

span.col_poule {
   text-align: right;
   vertical-align: bottom;
   height: 100%;
   width: 2em;
   right:2em;
   position: absolute;
}
span.col_piste {
   text-align: right; 
   vertical-align: bottom;
   height: 100%;
   width: 2em;
   right:0em;
   position: absolute;
}

/* positioned relative so the contained divs can be absolute relative to this one */
span.fpp_clubpp {
   float: right;
   position: relative;
   width: 40%;
}

	
div.vlist_title {
	height: 7%; 
	text-align: center; 
	width: 99%; 
	position: absolute;
	top: 15px;
}


span.noborder {
	border: none;
}

div.vlist_body {
	overflow: hidden;
	position: absolute;
	top: 12%;
	width: 95%;
}

div.vlist2_body {
	top: 7%;
}

div.vlist_header {
	border-top: thin solid black;
	border-bottom: thin solid black;
	overflow: hidden;
   height: 20px;
   position:absolute;
   top: 80px;
	width: 95%;
}

div.vlist2_header {
	top: 3%;
}

table.vlist_table {
	border-collapse: collapse; 
	width: 100%;
	padding: 1; 
}

tr.where-row:nth-of-type(odd) {
	background-color: #FFF2F7;
}

tr.where-row:nth-of-type(even) {
	background-color: #F2FFFA;
}

.twocol_outer_table
{
top:80px;
position:relative;
table-layout:fixed;
}
.twocol_inner_table {
position:absolute;
   top:0px;
   width: 100%;
}

.outertab
{
	position:absolute;
   	width: 45%;
	top:80px;
}


.fencer_country, .init_rank, .vlist_piste, .vlist_poule, .vlist_round, .vlist_time {
	width: 5%;
	text-align: right;
	font-size: 0.8em;
	overflow: hidden;
}

.vlist_name {
	width: 44%;
	text-align: left;
	font-size: .9em;
	overflow: hidden;
}

.vlist_club {
	width: 30%;
	text-align: left;
	font-size: 0.6em;
	overflow: hidden;
}

.vlist_position {
	width: 8%;
	text-align: left;
	font-size: .8em;
}

.seed { 
	width: 3em;
	text-align: left;
	overflow: hidden;
}


/* 
td.message {
	margin-right: 2em;
	height: 1.3em;
}

td.messagespace {
	width: 100%;
	height: 1.3em;
}
*/

.vm, .hs, .ind, .vlist_vm, .vlist_hs, .vlist_ind {
	width: 6%;
	text-align: right;
	font-size: 0.8em;
}

/* 
.eliminated {
	background-color: red;
}
*/

/* need to have a set of styles for eliminated in R1, L128, L64, L32 etc */
span.fppspan {
   display: block;
   position: relative;
   padding: 2px;
}


tr.elim_none:nth-of-type(odd) {
	background-color: #FFF2F7;
}

tr.elim_none:nth-of-type(even) {
	background-color: #F2FFFA;
}

span.fppspan:nth-of-type(odd) {
	background-color: #FFF2F7;
}

span.fppspan:nth-of-type(even) {
	background-color: #F2FFFA;
}

div.pres_key {
	height: 20;
	position: absolute;
	right: 20;
	top: 20;
}

h3.pres_abs, h3.pres_pres, h3.pres_scr {
	display: inline; 
	margin: 5px; 
	padding-left: 5px; 
	padding-right: 5px; 
}

span.pres_abs, span.pres_pres, span.pres_scr {
	display: block; 
}

.pres_abs {
	background-color: #ff9980;
	height: 20;
}

.pres_pres {
	background-color: #99ff99;
	height: 20;
}

.pres_scr {
	background-color: #ffffcc;
	height: 20;
	text-decoration: line-through;
}

span.elim_p {
	display: block;
}

.elim_p {
	background-color: #ffcccc;
	height: 20;
}

span.elim_128 {
	display: block;
}
.elim_128 {
	background-color: #ffffff;
	height: 20;
}

span.elim_64 {
	display: block;
}
.elim_64 {
	background-color: #ffffcc;
	height: 20;
}

span.elim_32 {
	display: block;
}
.elim_32 {
	background-color: #fffccc;
	height: 20;
}

span.elim_16 {
	display: block;
}
.elim_16 {
	background-color: #cffcfc;
	height: 20;
}

span.elim_8 {
	display: block;
}
.elim_8 {
	background-color: #ccffcc;
	height: 20;
}

span.elim_4 {
	display: block;
}
.elim_4 {
	background-color: #b8860b;
	height: 20;
}

span.elim_2 {
	display: block;
}
.elim_2 {
	background-color: #c0c0c0;
	height: 20;
}

span.elim_0 {
	display: block;
}
.elim_0 {
	background-color: #ffd700;
	height: 20;
}


/* css for poule layout */
/* Peter Smith - peter.smith@englandfencing.org.uk */

table.poule {
	border: thin solid black;
	margin-left: 3px;
	margin-right: 10px;
	border-collapse: collapse;
}

h2.poule-heading {
	padding: 0;	
	margin-bottom: 0px;
}

td.poule-grid-emptycol {
	border: none;
}

td.poule-grid-result {
	padding: 3px;
	width: 5%;
	text-align: center;
	height: 20px;
	border: 1px solid black;
}

td.poule-grid-name {
	font-size: .9em;
	border: 1px solid black;
}
td.poule-grid-club {
   font-size: 0.5em;
}

td.poule-grid-club {
	border: 1px solid black;
	font-size: 0.7em;
}

td.poule-grid-vm, td.poule-grid-hs, td.poule-grid-ind, td.poule-grid-pl {
	padding: 5px;
	width: 5%;
	text-align: right;
	border: 1px solid black;
}

th.poule-title-blank {
	width: 15px;
	/* color: black; */
	background: blue;
}

th.poule-title-name, th.poule-title-club {
	border: none;
	width: 25%;
	text-transform: capitalize;
	text-align: left;
	overflow: hidden;
	padding-left: 3px;
}

th.poule-title-result {
	width: 15px;
	border: none;
	background: blue;
}

.poule td {
	padding: 3px;
	/* font-size: 1.1em; */
}

.poule th {
	border: none;
	background-color: blue;
	color: white;
	font-size: 1.1em;
}

.poule-grid-blank {
	background-color: #a4a4a4;
	border: 1px solid black;
}

.top10 {
	color: red;
}

.top20 {
	color: blue;
}

.top50 {
	color: green;
}

table.tableaulist {
width: 100%;
}

td.tablistscore {
   text-align: center;
   min-width: 5em;
}

span.tablistfencerclub {
   float: right;
}

tr.tablistmatch {
   height:2em;
}

#messages {
   opacity:0.7;
   font-size:xx-large;
   position: fixed;
   top: 30%;
   z-index:1;
   text-align:center;
   margin-left: 15%;
   margin-right: 15%;
   width: 70%;
   background-color: red;
   
}
